services:
  postgis:
    image: postgis/postgis:16-3.4-alpine
    container_name: postgis
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgis_data:/var/lib/postgresql/data
    networks:
      - dcat-network

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: always
    ports:
      - "${QDRANT_PORT}:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - dcat-network

volumes:
  postgis_data:
  qdrant_data:

networks:
  dcat-network:
    driver: bridge